<!DOCTYPE html>
<html>
<head>
	<title>wincomservices-labdev</title>
	<meta charset="utf-8" />
	<meta content="text/html" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
    <nav class="nav-bar" role="navigation">
      <div id ="top-menu" class="container-fluid active">
          <ul class="nav navbar-nav pull-right">        
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-user"></i>
              Disconect </a>
            </li>
              
          </ul>
      </div>      
  </nav>
    <div class="row profile">
      <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Projects </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-user"></i>
              Users </a>
            </li>
            <li>
              <a href="#" target="_blank">
              <i class="glyphicon glyphicon-ok"></i>
              Tasks </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              Help </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">

    <h2>Projects</h2>
    <table class="table table-striped">

        <thead>

            <tr>

                <th>#</th>

                <th>Name</th>

                <th>Url</th>

                <th>Dead Line</th>

                <th>Action</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td>1</td>

                <td>wincomservices</td>

                <td>wincomservices</td>

                <td>NOW</td>
                <td><a href="#">modify</a> <a style="color: red" href="#">remove</a></td>

            </tr>

            <tr>

                <td>2</td>

                <td>gespros</td>

                <td>gespros</td>

                <td>gespros.com</td>
                <td><a href="#">modify</a> <a style="color: red" href="#">remove</a></td>

            </tr>

            <tr>

                <td>3</td>

                <td>CTE</td>

                <td>cte</td>

                <td>TOMORROW</td>
                <td><a href="#">modify</a> <a style="color: red" href="#">remove</a></td>

            </tr>

        </tbody>

    </table>


    </div>
    </div>
            
  </div> <!-- ./container -->
</body>
</html>